node_modules
/vendor
.env
.env.local
.env.*.local
storage/logs/*
storage/app/*
!storage/app/.gitkeep
!storage/logs/.gitkeep
bootstrap/cache/*
!bootstrap/cache/.gitkeep
.DS_Store
.vscode
*.swp
*.swo
*~
.idea
*.iml
dist
build
.cache
.env.dusk.local
.phpunit.result.cache
public/hot
